@{
    ViewData["Title"] = "Personal Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPersonalProfile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SllideShow.css" />
    <link rel="stylesheet" href="~/css/DropDown.css" />
</head>
<body>
    <h3>Personal Details</h3>
    <hr>
    <div class="container">
        <table style="display:inline-block" ; cellpadding="18">
            <tr>
                <th>Name</th>
                <td>Vignesh Ramachandran</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>27<sup>th</sup> August 1993</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>Male</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>9<sup>th</sup> Block, Door : 1B/2B, Ceebros Park, Dr. Radhakrishnan Salai <br> Valasarawakkam</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>+91-9789043818</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>vigneshramachandran27@gmail.com</td>
            </tr>
            <tr>
                <th>City</th>
                <td>Chennai</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>India</td>
            </tr>
        </table>
        <img src="~/ProfilePic.jpg" width="200" height="200" style="float:right";  />
    </div>
</body>
</html>