@{
    ViewData["Title"] = "Personal Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPersonalProfile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SllideShow.css" />
    <link rel="stylesheet" href="~/css/DropDown.css" />
</head>
<body>
    <h1>HELLO</h1>
</body>
</html>